
h1{
    text-align: center;
    color: rgb(0, 0, 75);
    text-decoration: underline;
    font-weight: bold;

}

img{
  float: right;
  padding: 10px 20px ;
  
}


p{
    color:whitesmoke;
    text-indent: 50px;
    text-align: justify;
    font-size: 20px;
    line-height: 2;
    padding: 0 10px 10px 10px;
    
   
        
    
}




ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:rgba(1, 1, 41, 0.856);
    border-radius: 8px;
  }
  
  li {
    float: right;
    font-weight: bold;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 2vw 3vw;
    text-decoration: none;
    font-size: large;
  }
  
  li a:hover {
    background-color: navajowhite;
    color: navy;
  }

  body{
    background-image: linear-gradient(to bottom, #30cfd0 0%, #330867 100%);
    background-color:  #30cfd0;
    background-repeat: no-repeat;
}

.heading{
  line-height: 0pt;
  text-indent: 0;
  font-size: 20px;
  font-weight: bold;
}

@media only screen and (max-width:500px) {
  /* For mobile phones: */
  li{
    width: 100%;
      }
  }
