ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:rgba(3, 37, 35, 0.904);
    border-radius: 8px;
  }
  
  li {
    float: right;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 2vw 3vw;
    text-decoration: none;
    font-size: large;
  }
  
  li a:hover {
    background-color: turquoise;
    color:navy;
  }

  p{
      text-align: justify;
      color: rgb(0, 49, 49);
      /*color:wheat;*/
      font-size: 20px;
      list-style: 3;
      text-indent: 20px;
      padding: 10px;
      line-height: 2;
  }

  body{
    background-image: linear-gradient(-20deg, #d558c8 0%, #24d292 100%);
    background-color:  #24d292;
    background-repeat: no-repeat;
    
  }

  #buttonText{
    text-align: right;
    margin: 20px;
  }

  button{
    color:wheat;
    padding: 10px;
    border-radius: 15px;
    border: 2px solid teal;
    background-image: linear-gradient(to top, #13547a 0%, #80d0c7 100%);
    width: fit-content;
    font-size: 18px;
  }

  button:hover{
    color:wheat;
    padding: 10px;
    border-radius: 15px;
    border: 2px solid teal;
    background-image: linear-gradient(to bottom, #13547a 0%, #80d0c7 100%);
  }

  h1{
    text-align: center;
    text-decoration: underline;
    color: rgb(0, 48, 48);
  }

  @media only screen and (max-width:500px) {
    /* For mobile phones: */
    li{
      width: 100%;
      
    }
    
  }