ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:rgba(1, 20, 41, 0.753);
    border-radius: 8px;
  }
  
  li {
    float: right;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 2vw 3vw;
    text-decoration: none;
    font-size: large;
  }
  
  li a:hover {
    background-color:thistle;
    color: navy;
  }

  body{
    background-image: linear-gradient(to top, #f43b47 0%, #453a94 100%);
    background-color:  #453a94;
    background-repeat: no-repeat;
    text-align: justify;
  }

  p{
      color:white;
      text-align: justify;
  }

  .name{
      font-weight: bolder;
      font-size: 25px;
  }

  .desc{
      font-size: 20px;
      padding: 20px;
      line-height: 2;
     
  }

  h1{
      text-align: center;
      text-decoration: underline;
      font-size: 35px;
      color:wheat;
  }

  @media only screen and (max-width:500px) {
    /* For mobile phones: */
    li{
      width: 100%;
      
    }
    
  }